/* Stolen from Fusion */
body {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
}

.river-home {
	min-height: 25rem;
	font-size: 1.25em;
	text-align: center;
}

.river-home h1 {
	margin-bottom: 1em;
}

.river-home nav {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	column-gap: 2em;
	row-gap: 1lh;
}

.river-home nav > * {
	flex-shrink: 0;
	flex-grow: 0;
}
